<suite name = "Demo">
    <test name = "First Test">
        <classes>
            <class name = "SeleniumAuto.Demo" >
                <methods>
                    <exclude name=".*dynamicDropdown.*" />
                    <exclude name=".*praAlert.*" />
                    <exclude name=".*praPopup.*" />
                    <exclude name=".*selectOption.*" />

                </methods>
            </class>
        </classes>
    </test>
</suite>